# Drupal core and contrib
vendor/
core/
modules/contrib/
profiles/contrib/

# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php
sites/*/services*.yml

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Ignore SimpleTest multi-site environment.
sites/simpletest

# Ignore sites/default
sites/default/ 
sites/settings.local.php
/example.gitignore

# local database
*.sql.gz
